@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  @apply font-neuleidenBold text-lg tracking-wider;
}

.center-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
