<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="static/style.css" />
    <script>
      tailwind.config = {
      theme: {
        extend: {
          colors: {
            secondaryBG: "#28272C",
        greenpale: "#4FA983",
        lightGreen: "#D3EEE9",
        lightWhite: "#F9F9FB",
          }
        }
      }
    }
    </script>
 
</head>
<body class=" bg-lightGreen">
    <nav class="mt-9">
        <div class="Tdd-logo flex justify-center items-center">
          <div class="p-2 bg-secondaryBG rounded">
            <img src="static/icons/TDD-logo-form.svg" alt="TDD-logo" />
          </div>
        </div>
      </nav>
      <main class="sm:container sm:mx-auto px-4 grid place-items-center max-h-screen h-[80vh] py-4">
        <div class="flex flex-col space-y-3 justify-center items-center relative max-w-2xl w-full">
          <h1 class="font-bold text-4xl sm:text-5xl md:text-6xl max-w-xs sm:max-w-full text-center text-greenpale">Welcome to TDD app</h1>
          <p class="text-black text-base text-center max-w-sm  ">
            Welcome to TDD, the utility of conversion for a greater perfomance
          </p>
          <div class="flex gap-5 btn-container z-20">
            <button class="px-6 rounded py-3 bg-greenpale text-center font-bold font-neueLeiden text-lightWhite hover:bg-green-900 transition-all duration-100">Log in</button>
          </div>
          <div class="floating-icons absolute -bottom-14 sm:flex max-w-5xl w-full justify-between hidden ">
            <div class="icons-0 flex gap-10">
              <div class="glass p-2.5 rounded-xl mb-8 -rotate-12">
                <img src="static/icons/light_thunder.svg" alt="" />
              </div>
              <div class="glass p-2.5 rounded-xl mt-8 rotate-12">
                <img src="static/icons/query_stats.svg" alt="" />
              </div>
            </div>
            <div class="icons-1 flex gap-10">
              <div class="glass p-2.5 rounded-xl mt-8 rotate-12">
                <img src="static/icons/finance.svg" alt="" />
              </div>
              <div class="glass p-2.5 rounded-xl mb-8 rotate-12">
                <img src="static/icons/create_new_folder.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <h3 class=" font-neueLeiden text-black text-sm text-center">
          Copywirght ©2023
        </h3>
      </footer>
</body>
</html>