<html>
  <head>
    <title>success</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="progress blue">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">90%</div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!--
    {% for conf in configfile %} {{conf}} {% endfor %}
    <div class="outer">
              <div class="inner">
                <div id="number">12%</div>
              </div>
              <svg
                width="160px"
                height="120px"
                viewBox="0 0 160 120"
                xmlns="http://www.w3.org/2000/svg"
              >
                <defs>
                  <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#DA22FF" />
                    <stop offset="100%" stop-color="#9733EE" />
                  </linearGradient>
                </defs>
                <circle cx="50" cy="50" r="50" />
              </svg>
            </div>
  -->
</html>
