<html>

<head>
    <title>validation</title>
</head>

<body>
    <form action="/activate" method="post" enctype="multipart/form-data"
        style="margin-left: 35%; margin-top: 10%; width: 28%; padding: 2%; border: 3px solid #004b8d!important; border-radius: 5%;     box-shadow: 0 2rem 5rem 1rem rgba(10,10,10,.175)!important; background: #004b8d; color: #fff;">
        <!-- <p>{{message}}</p> -->
        <p>File Name: {{name}}</p>
        <p>File path: {{path}}</p>

        <input type = "submit" value="Activate">
    </form>

</body>

</html>